<body>
    <div class="singleinbox">
        <div class="about-top-wrapper">
            <div class="container">
                <h1 class="heading">about</h1>
                <img class="my-photo" src="/syusaku.jpeg" alt="about-photo" width="70%" height="70%">
            </div>
        </div>
        
        <div class="main">
            <div class="container">
                <ul>
                    <li class="sentence">name:桝田周作</li>
                    <li class="sentence">age:31</li>
                    <li class="sentence">blood:B</li>
                    <li class="sentence">graduation:函館工業高等専門学校</li>
                </ul>
                <br>
                <h3>~History~</h3>
                <ul>
                    <li class="sentence">2013年    :オリンパスメディカルシステム退社</li>
                    <li class="sentence">2013年~   :ミュージシャンをめざす</li>
                    <li class="sentence">2019年    :ライブハウスでの活動をメインでしていたが東京の荒波に飲まれる</li>
                    <li class="sentence">2019年    :WEBアプリに興味を持ち、昔勉強していたプログラミングを再度勉強する</li>
                    <li class="sentence">現在      :Progateを活用してRuby on railsのポートフォリオ（お家在庫君）作成</li>
                </ul>
                <br>
            </div>
        </div>
        <div class="contact-form">
            <div class="container">

            </div>
        </div>
    </div>
</body>