<body>
    <div class="singleinbox">
      <div class="howto-top-wrapper">
        <div class="container">
          <h2 class="section-title">新規作成</h2>
          <p>購入した物の名称、個数を記入してください</p>
          <h2 class="section-title">編集</h2>
          <p>登録されている項目、個数を変更することができます</p>
          <h2 class="section-title">入荷＆使用</h2>
          <p>既に登録のある項目に在庫を追加、もしくは使用した個数（数字に”-”を付ける）を記載ください</p>
          <br>
          <ul>
            <li class="row"><span>在庫追加</span>→</li>
            <li class="row">項目：野菜</li>
            <li class="row">個数：2</li>
          </ul>
        
          <ul>
            <li class="row"><span>在庫使用</span>→</li>
            <li class="row">項目：野菜</li>
            <li class="row">個数：-3</li>
          </ul>
          <h2 class="section-title">削除</h2>  
          <p>選択した行のデータが削除されます</p>
        </div><!--container-->
      </div><!--top-wrapper-->
    </div><!--singleinbox -->
  </body>