<body>
    <div class="singleinbox">
        <div class="top-wrapper">
          <div class="container">
            <h1>新規作成</h1>
            <p>新しく購入したもの</p>
            <input type="text">
            </div>
          </div>
        </div><!--top-wrapper-->

        <div class="main">
          <div class="container">

          </div><!--container-->
        </div> <!--main -->
    </div><!--singleinbox -->
  </body>