

  <body>
    <div class="singleinbox">
        <div class="top-wrapper">
          <div class="container">
            <h1>お家在庫君</h1>
            <h2>目指せストレスフリー</h2>
            <h2 class="section-title">項目</h2>
            <div class="nav_index">
              <ul>
                <li>自己紹介</li>
                <li>アプリを作ったきっかけ</li>
                <li>終わりに</li>
              </ul>
            </div>
          </div>
        </div><!--top-wrapper-->

        <div class="main">
          <div class="container">
            <h2 class="section-title">自己紹介</h2>
            <p>Syuuuです。<br>
              今年の夏も暑いですが夏バテ、熱中症には気をつけたいですね。<br>
              電気代がもったいないので扇風機のみで暑さ対策しているのですが、<br>
            　やはり暑い・・・<br>
            意識朦朧としながらプログラミングとにらめっこ<br>
            戦いの末、私は勝利したのだ・・・<br><br>
          ということで在庫管理システムのポートフォリオ「お家在庫君」を作ったのでよかったら使ってください！</p>

            <h2 class="section-title">アプリを作ったきっかけ</h2>
            <p>夜ごはんの買い物に行くと、家に何の材料がないんだっけ？<br>
              ってなることありませんか？<br>
              ネットでお家の在庫が見れたら最高じゃん？と思い作成しました。<br>
            </p>

            <div class="message-wrapper">
              <div class="container">
                <div class="catch">
                  <h2>あなたのお家、まるごと管理してみませんか？</h2>
                  <h3>Let's try! Your home stock check!</h3>
                </div>
                <a class="btn link_top" href="/login">お家在庫君を使ってみる</a>
              </div>
            </div>
          </div><!--container-->
        </div> <!--main -->
    </div><!--singleinbox -->
  </body>
