


<body>
    <div class="singleinbox">
        <div class="stock-add">
			<div class="container">
				<h1 class= "add heading">入荷＆使用</h1>
				<ul class= "stock-add list">
				<li>項目</li>
				<li>個数</li>
				</ul>
					<div class="form-body">
						<%= form_tag("/stock/1/update")do %>
							<% @stocks.each do |stock| %>
								<% if stock.user_id == @current_user.id %>
									<div class="form-error list">
										<% stock.errors.full_messages.each do |message| %>
										<li><%= message %></li>
										<% end %>
									</div>
									<ul class= "stock-add list">  
										<li><%= stock.content %></li>
										<li><input class= "form-input" type="number" name="number[]" value="0"></li>
									</ul> 
								<% end %>
							<% end %>
							<input class= "btn submit submit-input" type= "submit" value= "変更"> 
						<%end%>
					</div>
			</div><!--container-->
        </div> <!--main -->
    </div><!--singleinbox -->
  </body>
