


<body>
    <div class="singleinbox">
        <div class="new-top-wrapper">
          <div class="container">
            <h1>入荷＆使用</h1>

        </div><!--top-wrapper-->

        <div class="main add">
          <div class="container">
            <ul class= "add menu">
              <li>項目</li>
              <li>個数</li>
            </ul>

            <%= form_tag("/stock/1/update")do %>
              <form>
                <% @stocks.each do |stock| %>
                  <ul class= "add item">  
                    <li><input type="text" name="name[]" value= "<%= stock.content %>"></li>
                    <li><input type="number" name="number[]" value="0"></li>
                  </ul> 
                <% end %>
                <input class= "btn submit" type= "submit" value= "変更"> 
              </form>
            <%end%>
          </div>
          </div><!--container-->
        </div> <!--main -->
    </div><!--singleinbox -->
  </body>
