


<body>
    <div class="singleinbox">
        <div class="stock-edit">
          <div class="container">
            <h1 class= "edit heading">編集</h1>
            <ul class= "stock-edit list">
              <li>項目</li>
              <li>個数</li>
            </ul>

            <%= form_tag("/stock/update")do %>
              <% @stocks.each do |stock| %>
                <% if stock.user_id == @current_user.id %>
                  <div class="form-error list">
                    <% stock.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </div>
                  <ul class= "stock-edit list">  
                    <li><input type="text" name="name[]" value= "<%= stock.content %>"></li>
                    <li><input type="number" name="number[]" value="<%= stock.stock_number%>"></li>
                  </ul> 
                <% end %>
              <% end %>
              <input class= "btn submit" type= "submit" value= "保存"> 
            <%end%>
          </div><!--container-->
        </div> <!--main -->
    </div><!--singleinbox -->
  </body>
