


<body>
    <div class="singleinbox">
      <h1 class= "new-heading">新規作成</h1>
        <div class="stock-new">
          <div class="container">
            <ul class= "stock-new list">
              <li>新しく購入したもの</li>
              <li>個数</li>
            </ul>
            <div class= "form-body">
            <%= form_tag("/stock/create")do %>
              <div class="form-error list">
                <% @stock.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </div>

              <ul class= "stock-new list">  
                <li><input class= "form-input" placeholder="トマト" type="text" name="item" value="<%= @stock.content%>"></li>
                <li><input class= "form-input" placeholder="5" type="number" name="number" value="<%= @stock.stock_number%>"></li>
              </ul>
              <input class= "btn submit submit-input" type= "submit" value= "送信"> 
            <%end%>
          </div><!--form-body-->
          </div><!--container-->
        </div> <!--stock-new -->
    </div><!--singleinbox -->
  </body>
