// Place all the styles related to the stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a{
  display: inline-block;
  color:red;
}

.index-menu {
  font-size:18px;
  text-align: right;
  padding-right: 150px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  #justify-content: space-between;
}

.list li{
  width: 25% 
}



input{
  width: 400px;
  font-size:15px;
  padding:20px 12px;
  border:1px solid #e6e6e6;
  background-color: #fff;

}

.form-error{
  color: #ff4d75;
}

.form{
  margin: 0 auto;
  width:400px;
}

.form-body{
}

.submit {
  background-color: #239b76;
}


.stocks-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width:900px;
  margin: 0 auto;
}

.stocks-index-link{
  margin: 0 auto;
  width: 900px;
  overflow: hidden;
  padding: 20px 30px;
  font-size: 18px;
}


