// Place all the styles related to the stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
お気に入りの色{
color: #7579a3; 紫
color: #2b546a; グレー？


}

Sass使い方{
$wanko-color:#7579a3;
color:$wanko-color;
}

クラス名{
description 解説
exam 試験
}
*/

.fa-dumpster{
  font-size: 28px;
  color:black;
}

a{
  display: inline-block;
  color:red;
}

.index-menu{
  float:left;
  height: 180px;

  h3{
    font-weight: normal;
    font-size: 18px;
  }
}

.decrease{
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 12px;
  color:black;
  width:30px;
  text-align: center;
}

.increase{
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 12px;
  color:black;
  width:30px;
  text-align: center;
}

.list{
  display: flex;
  flex-wrap: wrap; 
  
  li{
    width: 20%;
    text-align: center;
  }
}

.stock-new-list{
  display: flex;
  flex-wrap: wrap; 
  
  li{
    width: 25%;
  }
}


.form-error{
  color: #ff4d75;
}

.stock-edit{
  li{
    line-height: 60px;
  }
}
.stocks-index{
  li{
    padding: 0 30px;  
  }
}

.stocks-index-item{
  padding: 0 30px;
}

.stocks-index-line {
  padding: 0 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  max-width:1170px;
  width:100%;
  margin: 0 auto;
}

.stocks-index-link{
  margin: 0 auto;
  max-width:1170px;
  width:100%;
  overflow: hidden;
  padding: 20px 30px 0 30px;
  font-size: 18px;
}


@media (max-width: 670px) {
  .stocks-index-item{
    width: 100%;
    padding: 0;
  }
  
  .stocks-index-line {
    width: 100%;
    padding: 0;
  }
  .stocks-index-link{
    width: 100%;
    padding-top: 20px;
  }
  
  .index-menu{
    height: 90px;
    
    h3{
      font-size:14px;
    }
  }

  .increase{
    width:20px;
  }
  .decrease{
    width:20px;
  }

}